@charset "utf-8";

/*list.skin_area.php-��ũ*/


.sub_titleHead {padding-bottom: 30px}
.sub2_1form {padding: 30px 40px 20px 25px; background-color: #efefef; margin-top: 60px; margin-bottom: 30px;}
.sub2_1form form fieldset ul li.input {background-color: #fff;}

/* div#select_box1 {width: 230px; background: url(http://www.koreatourcard.kr/img/sub/sub2/sub2_1/sel.jpg) 200px center no-repeat; background-color: #fff; border: 1.5px solid #333; } */

div#select_box1 {float: left;}

.sub2_1form form fieldset ul li.btn input {background-color: #333; width: 100px;}
.sub2_1form form fieldset ul li.btn input:hover {background-color: #484848}

.div1 {margin-bottom: 45px;}

.area_ct {font-size: 16px; color: #333;}
.area_ct>span {color: #00aee9;}

.sub3_1List {margin-top: 40px;}
.sub3_1List li .grid .effect-bubba {border: 1px solid #b0b0b0;}

.suburb {font-size: 13px; font-weight: 700; padding: 5px 0; border-bottom: 1px solid #b0b0b0; width: 185px; margin: 0 auto;}
.suburb>img {width: 23px; margin-right: 10px;}

.list_top_cnt {
		background: url('/img/ktc_map_icon_000.png') no-repeat top left;
		width:31px;
		height:40px;
		display:inline-block;
		vertical-align:top;
		line-height:30px;
		padding-right: 1.5px;
	}

.list_top_txt {line-height:40px; margin-left:10px;}

.suburb_hover_bottom {padding-bottom: 40px; background-color: rgba(0,0,0,0.7);}
.suburb_hover_bottom .hover_more {color: #fff;}

.sub3_1List li .grid .effect-bubba .title {font-size: 16px;}
.sub3_1List li .effect-bubba h2 {padding-top: 40px;}
.sub3_1List li .effect-bubba .hover_more {/* padding-top: 17px; padding-bottom: 20px; */ padding: 10px 18px 10px 18px; line-height: 20px;}

.sub3_1List li .grid .effect-bubba .imgsell {padding-top: 5px; margin-bottom: 5px;}
.suburb_hover {font-size: 13px; font-weight: 700; padding: 5px 0; background-color: rgba(141,186,69,1);}
.suburb_hover>img {width: 23px; margin-right: 10px;}






/*side bar*/
/* .sub_leftNavi_list li .hover {color: #000; font-weight: 700;} */


/*
.select_word1 li{
	width: 190px;
} */
