@charset "utf-8";

/*
.top_btn{
	text-align:center;
	min-width: 1270px;
}
*/
.top_btn{
	right: 20px;
    bottom: 20px;
    position: fixed;
    z-index: 9999;
    cursor: pointer;
    display: none;
}

.partner{
	border:1px solid #d9d9d9;
	width:100%;
	min-width:1435px;
}

.footer{
	width: 100%;
	min-width: 1435px;
    background-color: #31353e;
}
.footer_area{
	position:relative;
    margin: 0 auto;
    text-align: center;
    color: #fff;
	line-height: 24px;
    padding: 30px 0;
}
.address{}
.copy{letter-spacing: normal;}








