@charset "utf-8";

@font-face{
	font-family:"Oswald-Regular";
	src:url('../font/Oswald-Regular.eot');
	src:url('../font/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
	url('../font/Oswald-Regular.ttf') format('truetype');
}

/* 서브 네비게이션 */

.sub_navi{border-bottom: 2px solid #e5e5e5;}
.sub_navi nav{
	width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0 45px 0;
}
.sub_navi nav h2{
	font-size:32px;
	letter-spacing:1px;
	color:#333;
	margin-bottom: 20px;
}
.sub_navi nav ul{
    color: #323232;
	padding:0 20px;
}
.sub_navi nav ul li{
	display: inline-block;
    font-size: 12px;
    padding: 0 0px 0 18px;

	background-image:url(../img/sub/subNavi_icon.jpg);
	background-repeat:no-repeat;
	background-position:0px 1px;
}
.sub_navi nav ul li:first-child{background-image:none; padding-left:0;}
.sub_navi nav ul li a{color: #6b6b6b;}

.sub_navi nav ul li .subNavi_active{color:#e85766; font-weight:bold;}
.sub_navi nav ul li .subNavi_active span{
	width: 100%;
    height: 1px;
    background-color: #e85766;
    display: block;
	margin-top: 2px;
}

.sub_navi nav ul li a:hover{
	color: #e85766;
}





/* sub1 */
/* sub1_1인사말 */
.sub_container{width: 100%; margin: 0 auto;}
.sub1_1greeting{padding:0 20px;}
.sub1_1greeting img{width:100%;}


/* sub1_2회사연혁 */
.sub1_2tab{overflow:hidden; padding: 30px 20px;}
.sub1_2tab li{
	float: left;
    width: 49.8%;
}
.sub1_2tab li a{
	font-size: 13px;
    background: #e4e4e4;
    color: #6b6b6b;
    border: 1px solid #a9a9a9;
    background-color: #fff;
    padding: 13px 0;
    cursor: pointer;
    display: block;
    text-align: center;
    width: 100%;
}
.sub1_2tab li a.active{
	background: #333;
    color: #fff;
    border: 1px solid #333;
}


.sub1_2table{width:100%; border-top: 1px solid #383838;}
.sub1_2table td{
	border-bottom: 1px solid #ccc;
	padding: 5px;
	vertical-align: top;
}
.sub1_2table td.year{
	font-family: 'Oswald-Regular', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #404040;
    padding: 5px;
    width: 10% !important;
}
.sub1_2table td.year p{
	width: 100%;
    height: 4px;
    background-color: #e85768;
    position: absolute;
    top: -1px;
    left: 0;
}
.sub1_2table td dl{
	display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
.sub1_2table td dl dt{
	font-family: 'Oswald-Regular', sans-serif;
    width: 100%;
    float: left;
    font-size: 15px;
    font-weight: bold;
    color: #b73e4d;
    margin-bottom: 5px;
}
.sub1_2table td dl dd{
	float: left;
    font-size: 12px;
    line-height: 20px;
    color: #464646;
}


/* sub1_3협력업체 */
.sub1_3partner{padding:50px 0 100px 0; text-align: center;}
.sub1_3partner li{
	display: inline-block;
	margin:0 4px 9px 4px;
}



/* sub1_4조직도 */
.sub1_4group{padding:0 20px;}
.sub1_4group img{width:100%;}


/* sub1_5찾아오시는 길 */
.sub1_5map1{
	padding:20px 10px 0 10px;
}
#map1{height:200px !important;}
.sub1_5map1 h4{font-size: 21px; color: #272727;}
.sub1_5map1 h4 span{
	width: 32px;
    height: 3px;
    background-color: #1b1b1b;
    display: block;
    margin-top: 6px;
    margin-bottom: 10px;
}

.map_add1{
	display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
.map_add1 li{font-size: 16px; color: #5a5a5a;}
.map_add1 li.add{
	background-image:url(../img/sub/sub1/sub1_5/icon_add.jpg);
	background-repeat:no-repeat;
	background-position: 0px 8px;
    padding: 15px 0px 15px 42px;
}
.map_add1 li.phone{
	background-image:url(../img/sub/sub1/sub1_5/icon_phone.jpg);
	background-repeat:no-repeat;
	background-position: 0px 8px;
    padding: 15px 0px 15px 42px;
}
.map_add1 li.fax{
	background-image:url(../img/sub/sub1/sub1_5/icon_fax.jpg);
	background-repeat:no-repeat;
	background-position: 0px 8px;
    padding: 15px 0px 15px 42px;
}

.map_add2{
	display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
.map_add2 li{
	font-size: 16px;
	color: #5a5a5a;
	background-image:url(../img/sub/sub1/sub1_5/icon_metro.jpg);
	background-repeat:no-repeat;
	background-position: 0px 5px;
    padding: 17px 0px 17px 80px;
}

.sub1_5map2{
	display: inline-block;
	padding:50px 10px 100px 10px;
}
.sub1_5map2 li{display: inline-block; width: 100%;}
.sub1_5map2 li:last-child{margin-right:0;}
#map2,#map3,#map4{width:100% !important; height:160px !important;}

.sub1_5map2 li section{padding-top: 10px; margin-bottom:50px;}
.sub1_5map2 li section h4{
	font-size: 21px;
	color: #272727;
}
.sub1_5map2 li section h4 span{
	width: 32px;
    height: 3px;
    background-color: #1b1b1b;
    display: block;
    margin-top: 6px;
    margin-bottom: 10px;
}
.sub1_5map2 li section p{font-size: 16px; color: #5a5a5a;}







/* sub2 */
/* sub2_1브랜드소개 */
.sub2_1brand{padding:50px 10px 100px 10px;}
.sub2_1brand li{
	background-image:url(../img/sub/sub2/sub2_1/brand_line.jpg);
	background-repeat:no-repeat;
	background-position: 0px 0px;
	padding-bottom: 20px;
    padding-top: 30px;
}
.sub2_1brand li:first-child{background-image:none; padding-top:0;}
.sub2_1brand li:last-child{padding-bottom:0;}

.brand_1{display: inline-block; width: 100%;}
.brand_1 article{
	display: inline-block;
	width:100%;
	margin-bottom:20px;
}
.brand_1 article h3{
	font-size: 16px;
    color: #e21250;
    margin-bottom: 10px;
}
.brand_1 article .b_logo{margin-bottom: 10px; width:30%;}
.brand_1 article .b_logo img{width:100%;}
.brand_1 article .b_txt{
	font-size: 14px;
	color: #777;
	line-height: 22px;
}

.brand_1 aside{display: inline-block; width:100%;}
.brand_1 aside h4{
	font-size: 15px;
	line-height: 24px;
    color: #484848;
    margin-bottom: 10px;
}
.brand_1 aside .b_txt1{
	font-size: 13px;
    line-height: 22px;
    color: #828282;
    margin-bottom: 20px;
}
.brand_1 aside .b_photo{}
.brand_1 aside .b_photo img{width:100%;}


.brand_2{display: inline-block; width: 100%;}
.brand_2 article{
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}
.brand_2 article img{width:100%;}

.brand_2 aside{float: right;}
.brand_2 aside h4{
	font-size: 16px;
    color: #e85b85;
    margin-bottom: 10px;
}
.brand_2 aside p{
	font-size: 12px;
	color: #777;
	line-height: 22px;
	margin-bottom: 15px;
}

.orange{color:#eb6e1e !important;}


/* sub2_3납품실적 */
.sub2_3result{padding-bottom:100px;}

.sub2_3tab{overflow:hidden; padding: 30px 20px;}
.sub2_3tab li{
	float: left;
    width: 33.2%;
}
.sub2_3tab li a{
	font-size: 13px;
    background: #e4e4e4;
    color: #6b6b6b;
    border: 1px solid #a9a9a9;
    background-color: #fff;
    padding: 13px 0;
    cursor: pointer;
    display: block;
    text-align: center;
    width: 100%;
}
.sub2_3tab li a.active{
	background: #333;
    color: #fff;
    border: 1px solid #333;
}
/*----------------------------------------------*/
.sub2_3tab1{overflow:hidden; padding:30px 20px;}
.sub2_3tab1 li{
	float: left;
    width: 24.9%;
}
.sub2_3tab1 li a{
	font-size: 12px;
    background: #e4e4e4;
    color: #6b6b6b;
    border: 1px solid #a9a9a9;
    background-color: #fff;
    padding: 13px 0;
    cursor: pointer;
    display: block;
    text-align: center;
    width: 100%;
}
.sub2_3tab1 li a.active{
	background: #333;
    color: #fff;
    border: 1px solid #333;
}




.tabDetails{display: inline-block; width:100%;}
.tabDetails1{display: inline-block; width:100%;}
.mobile_tabDen_None{display: none;}

.tabContents section{display: inline-block; padding:0 20px;}

.tabContents section h2{
	font-family: 'Oswald-Regular', sans-serif;
	text-align: center;
    font-size: 18px;
    color: #636363;
	margin-bottom: 10px;
}

.tabContents1{padding:30px 0px;}
.tabContents1 section{display: inline-block;}

.tabContents1 section h2{
	font-family: 'Oswald-Regular', sans-serif;
	text-align: center;
    font-size: 24px;
    color: #636363;
	margin-bottom: 10px;
}

.sub2_3tab1{}

.sub2_3table_left{width: 25%; float: left;}
.sub2_3table_left thead{}
.sub2_3table_left th{
	border-top: 3px solid #e85768;
    border-bottom: 1px solid #272727;
    font-size: 12px;
    padding: 13px 0;
}
.sub2_3table_left tbody{}
.sub2_3table_left td{
	width:100%;
	text-align: center;
	font-size:5px;
    border-bottom: 1px solid #ccc;
    padding: 7px 0;
	color: #4e4e4e;
}

.sub2_3table_left tbody tr{height:30px;}
.sub2_3table_right tbody tr{height:30px;}

.sub2_3table_right{width:73%; float: right;}
.sub2_3table_right thead{}
.sub2_3table_right th{
	border-top: 3px solid #272727;
    border-bottom: 1px solid #272727;
	border-right: 1px solid #ccc;
    font-size: 12px;
    padding: 13px 0;
}
.sub2_3table_right th:last-child{border-right:0;}
.sub2_3table_right tbody{}
.sub2_3table_right td{
	text-align: center;
	font-size:7px;
    border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
    padding: 5px 0;
	color: #4e4e4e;
}
.sub2_3table_right td:last-child{border-right:0;}





.sub2_4produc{padding:50px 20px !important;}
.sub2_4produc img{width:100%;}




/* sub4 */
/* sub4_1제품 리스트 */
.sub4_1product{padding:50px 0 100px 0;}

.grid_s {
    position: relative;
    text-align: center;
	display: inline-block;
	width:100%;
	margin-bottom:12px;
}

.grid_s figure {
	position: relative;
	float: left;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
}

.grid_s figure img {
	position: relative;
	display: block;
	max-width: 100%;
}

.grid_s figure figcaption {
	color: #fff;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid_s figure figcaption::before,
.grid_s figure figcaption::after {
	pointer-events: none;
}

.grid_s figure figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.grid_s figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid_s figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
	height:100%;
}


figure.effect-bubba {

}

figure.effect-bubba img {
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-bubba:hover img {

}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.50s, -webkit-transform 0.50s;
	transition: opacity 0.50s, transform 0.50s;
}

figure.effect-bubba figcaption::before {
	border-top: 5px solid #e85766;
	border-bottom: 5px solid #e85766;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
	border-right: 5px solid #e85766;
	border-left: 5px solid #e85766;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.effect-bubba h2 {
	padding: 100px 0 0px 0px;
	-webkit-transition: -webkit-transform 0.65s;
	transition: transform 0.65s;

	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h2{
	opacity: 1;

	-webkit-transform: translate3d(20px,0,0);
	transform: translate3d(20px,0,0);
}



/* sub4_1제품 뷰 */
.sub4_1product h3{
	text-align: center;
    font-size: 24px;
    letter-spacing: 1.5px;
    padding: 12px 0 9px 0;
    background-color: #e85766;
    color: #fff;
}

.productView_photo{margin-bottom:5px;}








/* 사이트맵 */
.siteMap{
	padding: 50px 20px 100px 20px;
	text-align:center;
	display: inline-block;
}
.siteMap ul{
	float:left;
	vertical-align: top;
	text-align:left;
	margin:0 50px;
	width: 40%;
    margin-bottom: 50px;
}
.siteMap ul:nth-child(1n){margin-left:0;}
.siteMap ul:nth-child(2n){margin-right:0;}

.siteMap ul h3{
	font-size:19px;
	font-weight:bold;
	color:#232323;
}
.siteMap ul h3 span{
	display: block;
	width:18px;
	height:2px;
	background-color: #e85766;
	margin:15px 0 15px 0;
}
.siteMap ul li{
	font-size:14px;
	line-height:30px;
}
.siteMap ul li a{color:#676767;}
.siteMap ul li a:hover{color:#e85766;}












footer #tnb{}
footer  #tnb li{
	display: inline-block;
    margin: 0 1px 23px 1px;
    font-size: 13px;
    font-weight: bold;
}
footer  #tnb li:first-child{margin-left:0;}
footer  #tnb li:last-child{margin-right:0;}
footer  #tnb li a{
	color: #6f6f6f;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    padding: 5px;
	letter-spacing:0px;
	font-size:11px;
}
footer  #tnb li a:hover{
	color: #fff;
	background:#e85766;
	border-color:#e85766;
}
