@charset "utf-8";

.sub_title{height:55px;}
.sub_title h2{
	text-align:center;
	font-size:18px;
	padding-top: 20px;
}

.sub_title1,.sub_title2{
	height: 55px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}
.sub_title1 h2{
	text-align:center;
	font-size:18px;
	padding-top: 20px;
	color:#fff;
}

.sub_title2 {
	border-bottom: 2px solid #00aee9;
}
.sub_title2 h2{
	text-align:center;
	font-size:18px;
	padding-top: 20px;
	color:#000;
}






/* sub1_1 코리아투어카드 혜택 */
.sub1_1area{}
.sub11_img1{margin-bottom: 30px;}

.sub1_1area1{
	max-width: 768px;
    margin: 0 auto;
}
.sub11_title1{
	font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    display: inline-block;
    padding-left: 3%;
}
.sub11_txt1{
	font-size: 15px;
    line-height: 22px;
    color: #636363;
    padding: 0 3%;
}
.sub11_txt1 p{}
.sub11_img2{
	text-align: center;
    padding: 10% 0;
}
.sub11_img2 img{}


.sub1_1area2{
	max-width: 768px;
    margin: 0 auto;
    padding-bottom: 80px;
}
.sub11_title2{
	font-size: 25px;
    font-weight: 500;
    display: inline-block;
    padding-left: 3%;
    margin-bottom: 10px;
}
.sub11_title2 span{
	font-weight: 300;
    color: #00aee9;
}

.sub11_txt22{
	font-size: 15px;
    line-height: 22px;
    color: #636363;
    padding: 0 3%;
}





/* sub1_2 코리아투어카드 정보 */
.sub1_2area{}
.sub1_2area h3{
	font-size: 25px;
    font-weight: 500;
    padding-left: 3%;
    border-top: 1px solid #ccc;
    padding-top: 30px;
    padding-bottom: 10px;
}


.sub12_table{
	font-size: 14px;
    border-top: 2px solid #000;
	margin-bottom:15px;
}
.sub12_table td{
	border-bottom: 1px solid #ccc;
    padding: 10px;
	border-left:1px solid #ccc;
	color: #636363;
}
.sub12_table td.td1{
	border-bottom: 1px solid #000;
	border-left:0;
	font-weight: 600;
	width:20%;
	color: #232323;
}
.sub12_table td.td2{
	border-bottom: 1px solid #000;
	font-weight: 600;
	width:20%;
	color: #232323;
}
.sub12_table td.td3{
	border-bottom: 1px solid #000;
	font-weight: 600;
	color: #232323;
}

.sub12_table td.sub12_tdBold{
	border-left:0;
	font-size:16px;
	font-weight: 600;
	color: #232323;
}

.sub12_tdList{text-align:left;}
.sub12_tdList ul{}
.sub12_tdList ul li{
	padding-left: 10px;
    background-image: url(../img/sub/sub3/sub3_2/sub31_dot.jpg);
    background-repeat: no-repeat;
    background-position: 0px 11px;
    line-height: 25px;
}

.sub12_table td.border2px{border-bottom:2px solid #ccc;}


.sub12_add{
	padding: 0 3%;
    margin-bottom: 60px;
}
.sub12_list{
	font-size:13px;
	color: #636363;
}
.sub12_list td{
	padding-bottom: 5px;
    line-height: 20px;
}

.sub12_list_I{
	vertical-align: top;
	padding-right: 5px;
}	









/* sub1_3 코리아투어카드 홍보센터 list */
.sub1_3area{
	width: 100%;
    max-width: 768px;
    margin: 0 auto;
}
.sub1_3topTxt{
	background-color: #eff0f2;
    text-align: center;
    font-size: 16px;
    color: #6f6f6f;
    margin: 0px 0 40px 0;
    padding: 0 3%;
}
.sub1_3topTxt h4{
	font-weight: 500;
    padding: 20px 0;
    line-height: 24px;
}

.sub13_board{
	width: 100%;
    max-width: 768px;
    margin: 0 auto;
    border-top: 1px solid #000;
    padding-top: 30px;
}
.sub13_board_area{
	padding: 0 3%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}
.sub13_board_area a{
	display: block;
	text-decoration:none;
}
.sub13_board_img{margin-bottom: 15px;}
.sub13_board_img img{width:100%;}
.sub13_info{}
.sub13_info h3{
	font-size: 18px;
    margin-bottom: 10px;
}
.sub13_info_txt{
	font-size: 15px;
    line-height: 22px;
    color: #868686;
    margin-bottom: 20px;

	height: 62px;
    overflow: hidden;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.sub13_info_date{
	font-size: 15px;
    color: #868686;
    margin-bottom: 20px;
}





/* sub1_3 코리아투어카드 홍보센터 view */
.sub13_board_view{
	max-width: 768px;
    margin: 0 auto;
}
.sub1_3table_view{
	width:100%;
	border-top: 2px solid #1b1b1b;
	margin-bottom:20px;
}
.sub1_3table_view td{
	border-bottom: 1px solid #afafaf;
    padding: 20px 30px;
}
.sub1_3table_view td.title{padding: 18px 3%;}
.sub1_3table_view td.title h2{
	font-size: 18px;
    margin-bottom: 10px
}
.sub1_3table_view td.title p{
	font-size: 14px;
    margin-top: 2px;
    color: #868686;
}

.sub1_3table_view td.content{padding: 30px 3%;}
.sub1_3table_view td.content div{}

.sub1_3center .btn{text-align: right;}
.sub1_3center .btn .list{
	display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    line-height: 40px;
    width: 110px;
    height: 40px;
    background-color: #17a7d9;
    border-radius: 5px;
    color: #fff;
}

.sub1_3center .btn .list:hover{
	background-color:#27b4e4;
}

.board_btn{text-align: right;}
.board_btn .list{
	display: inline-block;
    text-align: center;
    text-decoration: none;
	margin-right:3%;
    font-size: 15px;
    line-height: 40px;
    width: 110px;
    height: 40px;
    background-color: #17a7d9;
    border-radius: 5px;
    color: #fff;
}
.board_btn .list:hover{
	background-color:#27b4e4;
}










/* sub2_1 판매점 찾기 */
.sub3_1area{}
.sub31_tab{
	width:100%;
	max-width:768px;
	margin:0 auto;
}

/*탭*/
.store_searchTab{
	overflow: hidden;
    padding: 30px 0 20px 0;
    text-align: center;
    border-top: 1px solid #ccc;
}

.store_searchTab li{
	float: left;
    width: 50%;
}

.store_searchTab li a{
	font-size: 16px;
    font-weight: bold;
    border-bottom: 3px solid #d9d9d9;
    color: #848484;
    cursor: pointer;
    display: block;
    text-align: center;
    width: 100%;
    height: 26px;
    text-decoration: none;
    text-transform: uppercase;
}

.store_searchTab li a.active{
	color: #333;
    border-bottom: 3px solid #2d2d2d;
}







/* sub2_1 탭1 */
.sub2_1form_area{margin-bottom: 1px;}
.sub2_1form{
	padding: 5% 3%;
    background-color: #e5e5e5;
}
.sub2_1form form{
	display: inline-block;
    width: 100%;
}
.sub2_1form form fieldset{}
.sub2_1form form fieldset ul{
	position: relative;
    display: inline-block;
    width: 100%;
}
.sub2_1form form fieldset ul li{float: left;}
.sub2_1form form fieldset ul li.search21_input{width: 100%;}
.sub2_1form form fieldset ul li.search21_btn{
	position: absolute;
    top: 8px;
    right: 12px;
}

.sub21_bar{
	width: 98%;
    border: 0;
    height: 40px;
    font-size: 14px;
    padding-left: 2%;
}
.syb21_loginbtn{}






.sub21_storeChoi{}
.storeChoi_title{
	background-color: #e8e8e8;
    border-bottom: 1px solid #b5b5b5;
    padding: 10px 0;
    margin-bottom: 1px;

	background-image:url(../img/sub/sub2/sub2_1/sub21_arrow.png);
	background-repeat:no-repeat;
	background-position: 97% 9px;
}
.storeChoi_title h3{
	font-size: 18px;
    font-weight: 600;
    padding: 0 3%;
}

.storeChoi_check{}
.storeChoi_check ul{
	background-color: #f3f3f3;
    padding: 4% 3%;
}
.storeChoi_check ul li{
	display: inline-block;
    width: 49%;
	font-size: 15px;
    color: #4c4c4c;
	margin-bottom: 15px;
}
.storeChoi_check ul li input{}

.sub21_active{background-position: 97% -37px;}






/*판매점 찾기 테이블*/
.sub2_1board{
	margin-top: 30px;
	margin-bottom: 60px;
}

.sub2_1board_title{
	border-bottom: 1px solid #252525;
}
.table_number{
	font-size: 18px;
    font-weight: bold;
    padding-left: 3%;
    display: inline-block;
    margin-bottom: 7px;
}

.table_number span{color: #b90808;}


.sub2_1info_area{
    border-bottom: 1px solid #ccc;
}
.sub21_info{
	padding: 3%;

	background-image: url(../img/sub/sub2/sub2_1/sub21_arrow1.png);
    background-repeat: no-repeat;
    background-position: 95% 50px;
}
.sub21_info h3{
	font-size: 18px;
    font-weight: bold;
    margin-bottom: 7px;
}
.sub21_info_add{
	font-size: 15px;
    color: #909090;
    margin-bottom: 5px;
}
.sub21_info_tel{
	font-size: 15px;
    color: #909090;
    margin-bottom: 20px;
}
.sub21_info ul{display: inline-block;}
.sub21_info ul li{
	float:left;
	margin-right: 5px;
}


.sub21_map{
	display: none;
}
.sub21_map_area{}
.sub21_map_area img{width:100%;}


.sub21_active1{
	background-position: 95% -170px;
}






/* sub2_1 탭2 */
.sub2_1form1{
	padding: 5% 3%;
    background-color: #e5e5e5;
}

.sub2_1form1 li{
	display: inline-block;
	width: 49.8%;
}

.sub2_1form1 li select{
	width: 98%;
    border: 0;
    height: 40px;
    font-size: 14px;
    padding-left: 2%;
}


.false_txt{
	font-size: 16px;
    text-align: center;
    padding: 70px 0;
    color: #b1b1b1;
}











/* sub2_2 전체판매점 안내 list */
.sub22_board{
	width: 100%;
    max-width: 768px;
    margin: 0 auto;
    border-top: 1px solid #000;
    padding-top: 30px;
}
.sub22_board_area{
	padding: 0 3% 20px 3%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}
.sub22_board_area a{
	display: inline-block;
    text-decoration: none;
    width: 100%;
}

.sub22_board_info{
	float: left;
    width: 60%;
}
.sub22_board_info h3{
	font-size: 19px;
    margin-bottom: 15px;
}
.sub22_board_info p{
	font-size: 15px;
    color: #828282;
}

.sub22_board_img{
	float: right;
    width: 30%;
}
.sub22_imgArea{}
.sub22_imgArea img{width:100%;}













/* sub3_1 브랜드별 보기 list */
.sub3_1List{
	width: 100%;
    max-width: 768px;
    margin: 0 auto;
}

.sub31_List_area{
	padding:0 3%;
	margin-bottom: 30px;
}
.sub31_List_area li{
	width: 48%;
    display: inline-block;
    border: 1px solid #ccc;
	margin-right: 2%;
    margin-bottom: 2%;
	text-align:center;
	border-radius: 5px;
	position:relative;
}
.sub31_List_area li:nth-child(2n){margin-right:0;}
.sub31_List_new{
	position:absolute;
	top:0;
	left:0;
}
.sub31_List_new img{}

.sub31_List_area li a{
	display: block;
    text-decoration: none;
    padding: 40px 20px;
}
.sub31_List_area li a .sub31_ListImg{
	margin-bottom: 10px;
	padding: 30px;
} 
.sub31_List_area li a .sub31_ListImg img{width:100%;} 
.sub31_List_area li a p{
	font-size: 18px;
    color: #616161;
} 

.sub31_List_area li a:hover p{
	color: #020202;
}




/* 3_1 view */
.sub3_1view_area{
	width:100%;
	max-width: 768px;
    margin:0 auto;
}

.sub3_1view_top{
	width:100%;
	height:300px;
	background-image:url(../img/sub/sub3/sub3_1/3_1_img1.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
	position: relative;
}
.sub3_1view_top h2{
	position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -40px;
}
.sub3_1view_top h2 a{
	display: block;
    width: 80%;
    margin: 0 auto;
}
.sub3_1view_top h2 a img{width: 100%;}

.sub3_1view_topBlack{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}


.sub3_1topTxt{
	background-color: #eff0f2;
    text-align: center;
    font-size: 16px;
    color: #6f6f6f;
    margin: 0px 0 40px 0;
    padding: 0 3% 3% 0;
}
.sub3_1topTxt h4{
	font-weight: 500;
    padding: 20px 0;
    line-height: 24px;
}
.sub3_1topTxt .logoArea{
	width: 40%;
    margin: 0 auto;
    padding: 20px 0 0 0;
}
.sub3_1topTxt .logoArea img{width:100%;}


.sub3_1view{
	width: 100%;
    max-width: 768px;
    margin: 0 auto;
}

.sub31_view_area{
	margin-bottom: 30px;
}

/*탭*/
.benefit_searchTab{
	overflow: hidden;
    padding: 10px 0;
    text-align: center;
}

.benefit_searchTab li{
	float: left;
    width: 50%;
}

.benefit_searchTab li a{
	font-size: 16px;
    font-weight: bold;
    border-bottom: 3px solid #d9d9d9;
    color: #848484;
    cursor: pointer;
    display: block;
    text-align: center;
    width: 100%;
    height: 26px;
    text-decoration: none;
    text-transform: uppercase;
}

.benefit_searchTab li a.active{
	color: #333;
    border-bottom: 3px solid #2d2d2d;
}




.sub31_viewTab{
	padding:3%;
}
.sub31_viewTab h4{
	font-weight: normal;
    line-height: 24px;
	font-size: 16px;
	color: #7d7d7d;
	padding-bottom: 20px;
}

.sub3_benefit{margin-bottom:20px;}
.sub3_benefit li{
	overflow: hidden;
    border: 1px solid #dcdcdc;
    margin-top: -1px;
    padding: 3%;
}
.sub3_benefit li h3{
	float: left;
    margin-right: 6%;
}
.sub3_benefit li p{
	float: left;
    font-size: 15px;
    color: #7d7d7d;
    margin-top: 3.5%;
}




.sub31_viewTab_map{
	padding-top:3%;
	margin-bottom:10px;
}

.sub31_guideTitle{
	font-size:18px;
	margin-bottom:12px;
}
.sub31_viewTab_area{
	margin-bottom:50px;
}



.sub31_guideBtn{
	text-align: center;
    font-size: 16px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
	margin-bottom: 20px;
}
.sub31_guideBtn li{
	display: inline-block;
    width: 32%;
    border-right: 1px solid #ccc;
}
.sub31_guideBtn li:last-child{border-right: 0;}

.sub31_guideBtn li a{
	display: block;
    text-decoration: none;
    color: #415d72;
}
.sub31_guideBtn li a h3{
	margin-bottom: 8px;
}
.sub31_guideBtn li a p{}


.sub31_guideInfo{}
.sub31_guideInfo li{
	overflow: hidden;
    margin-bottom: 6px;
}

.guideInfo_icon1{
	float:left;
	width:19px;
	height:19px;
	padding-right: 3px;
	
	background-image:url(../img/sub/sub3/sub3_1/sub31list_icon1.jpg);
	background-repeat:no-repeat;
	background-position:0px 0px;
}
.guideInfo_icon2{
	float:left;
	width:19px;
	height:19px;
	padding-right: 3px;
	
	background-image:url(../img/sub/sub3/sub3_1/sub31list_icon2.jpg);
	background-repeat:no-repeat;
	background-position:0px 0px;
}
.guideInfo_icon3{
	float:left;
	width:19px;
	height:19px;
	padding-right: 3px;
	
	background-image:url(../img/sub/sub3/sub3_1/sub31list_icon3.jpg);
	background-repeat:no-repeat;
	background-position:0px 0px;
}

.guideInfo_info{
	float:left;
	font-size: 15px;
    color: #4c4c4c;
}


.sub31_guideTraffic{
	display: inline-block;
    width: 100%;
}
.sub31_guideTraffic li{
	display: inline-block;
    width: 47%;	
}
.sub31_guideTraffic li:first-child{float:left;}
.sub31_guideTraffic li:last-child{float:right;}

.guideTraffic_icon{
	float: left;
    margin-right: 10px;
    width: 13%;
}
.guideTraffic_icon img{width:100%;}
.guideTraffic_txt{float: left;}

.Traffic_txt1{
	font-size: 18px;
    font-weight: 600;
    margin-bottom: 3px;
}
.Traffic_txt2{font-size: 15px;}


.sub31_guideBus{}
.sub31_guideBus li{
	overflow: hidden;
    margin-bottom: 8px;
}

.guideBus_name{
	float: left;
    /*width: 30%;*/
    margin-right: 20px;
}
.guideBus_name_icon{
	float: left;
    margin-right: 10px;
}
.guideBus_name_txt{
	float: left;
    font-size: 15px;
    margin-top: 5px;
}

.guideBus_info{
	float: left;
    /*width: 68%;*/
    font-size: 15px;
    color: #4c4c4c;
    line-height: 22px;
	margin-top: 3px;
}








/* sub3_2 혜택분류별 보기 */

/* 리스트 버튼 */
.sub3_2navi{
	border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #efefef;
	height:105px;
	margin-bottom: 20px;
}
.sub32_navi{
	text-align: center;
}
.sub32_navi li{
	display: inline-block;
}
.sub32_navi li:first-child{background-image:none;}
.sub32_navi li a{text-decoration:none;}
.sub32_navi li a .sub31_icon{
	width: 49px;
    height: 49px;
    margin: 0 auto 10px auto;
}
.sub32_navi li a p{
	font-size:16px;
	color:#797979;
}

.sub32_navi li a .sub31_icon1{
	background-image: url(../img/sub/sub3/sub3_2/sub31_icon1.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.sub32_navi li a .sub31_icon2{
	background-image: url(../img/sub/sub3/sub3_2/sub31_icon2.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.sub32_navi li a .sub31_icon3{
	background-image: url(../img/sub/sub3/sub3_2/sub31_icon3.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.sub32_navi li a .sub31_icon4{
	background-image: url(../img/sub/sub3/sub3_2/sub31_icon4.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.sub32_navi li a .sub31_icon5{
	background-image: url(../img/sub/sub3/sub3_2/sub31_icon5.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.sub32_navi li a .sub31_icon6{
	background-image: url(../img/sub/sub3/sub3_2/sub31_icon6.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.sub32_navi li a .sub31_icon7{
	background-image: url(../img/sub/sub3/sub3_2/sub31_icon7.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.sub32_navi li a .sub31_icon8{
	background-image: url(../img/sub/sub3/sub3_2/sub31_icon8.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}



.sub32_navi li a:hover .sub31_icon1{background-position: 0px -51px;}
.sub32_navi li a:hover .sub31_icon2{background-position: 0px -51px;}
.sub32_navi li a:hover .sub31_icon3{background-position: 0px -51px;}
.sub32_navi li a:hover .sub31_icon4{background-position: 0px -51px;}
.sub32_navi li a:hover .sub31_icon5{background-position: 0px -51px;}
.sub32_navi li a:hover .sub31_icon6{background-position: 0px -51px;}
.sub32_navi li a:hover .sub31_icon7{background-position: 0px -51px;}
.sub32_navi li a:hover .sub31_icon8{background-position: 0px -51px;}

.sub32_navi li a:hover p{
	color:#2a5c82;
	font-weight:bold;
}

.sub32_navi li a.s32_act div{background-position: 0px -51px !important;}
.sub32_navi li a.s32_act p{
	color:#2a5c82;
	font-weight:bold;
}





.sub32_listAll{
	border-bottom: 2px solid #333;
    max-width: 768px;
    margin: 0 auto 35px auto;
}
.sub32_listAll h2{
	padding-left: 3%;
    font-size: 15px;
    margin-bottom: 9px;
}
.sub32_listAll h2 span{color: #00aee9;}

.sub32_cont{
	width: 100%;
    max-width: 768px;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}
.sub32_cont_area{padding: 0 3%;}
.sub32_cont_area_head{
	background-color: #f2f2f2;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 15px;
}
.sub32_cont_area_head h3{display: inline-block;}
.sub32_cont_area_head h3 img{width:100%;}
.sub32_cont_area_head p{
	display: inline-block;
    font-size: 28px;
    font-weight: bold;
    margin-left: 15px;
}

.sub32_cont_area_cont{margin-bottom: 30px;}
.sub32_cont_area_cont li{
	padding-left: 10px;
    background-image: url(../img/sub/sub3/sub3_2/sub31_dot.jpg);
    background-repeat: no-repeat;
    background-position: 0px 11px;
    line-height: 27px;
	font-size:15px;
	color:#757575;
}

.sub32_cont_areaBtn{
	text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
}
.sub32_cont_areaBtn a{
	border-bottom: 1px solid #333;
	text-decoration:none;
}
.sub32_cont_areaBtn a:hover{
	color:#00aee9;
	border-bottom: 1px solid #00aee9;
}











/* sub4_1 추천여행코스 */
/* sub4_1 list */
.sub4_trafficTab{}

/*탭*/
.traffic_searchTab{
	overflow: hidden;
    padding: 0px 0 30px 0;
    text-align: center;
}

.traffic_searchTab li{
	float: left;
    width: 33.33%;
}

.traffic_searchTab li a{
	font-size: 16px;
    font-weight: bold;
    border-bottom: 3px solid #d9d9d9;
    color: #848484;
    cursor: pointer;
    display: block;
    text-align: center;
    width: 100%;
    height: 26px;
    text-decoration: none;
    text-transform: uppercase;
}

.traffic_searchTab li a.active{
	color: #333;
    border-bottom: 3px solid #2d2d2d;
}



.sub4_1List{margin-bottom: 30px;}
.sub4_1List_imgArea{position: relative;}
.sub4_1List_img{}
.sub4_1List_img img{width:100%;}
.sub4_1List_Black{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
    background-color: rgba(0, 0, 0, 0.36);
}

.sub4_1List_title{
	position: absolute;
    bottom: -5px;
    left: 3%;
    font-size: 26px;
    font-weight: 500;
    color: #fff;
    text-shadow: 2px -1px 4px rgba(0, 0, 0, 0.81);
	z-index:2;
}

.sub4_1List_txt{
	padding:3%;
}
.sub4_1List_txt p{
    font-size: 15px;
    line-height: 22px;
    color: #7d7d7d;
}





/* sub4_1 view */
.sub4_1view{}
.sub4_1view_img{}
.sub4_1view_img img{width:100%;}

.sub4_1view_txt{padding:3%;}
.sub4_1view_txt p{
	font-size: 15px;
    line-height: 21px;
    color: #5f5f5f;
}

.sub4_1view_loca{
	padding: 0 3%;
    position: relative;
    height: 100px;
    margin: 12% auto 5% auto;
}
.sub4_1view_loca ul{
	position: absolute;
    width: 94%;
    top: -5px;
}
.sub4_1view_loca ul li{
	display: inline-block;
    width: 16%;
    text-align: center;
	position: relative;
}

.sub4_1view_loca ul li:nth-child(1n) h3{top: 30px;}
.sub4_1view_loca ul li:nth-child(2n) h3{top: -30px;}
.sub4_1view_loca ul li:last-child{float: right;}
.sub4_1view_loca ul li:last-child h3{right:0;}
.sub4_1view_loca ul li:last-child p{right:0;}

.sub4_1view_loca ul li h3{
	position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
	color: #808080;
}
.sub4_1view_loca ul li p{
	width: 10px;
    height: 10px;
    background-color: #00aee9;
    border-radius: 10px;
    margin: 0 auto 0 auto;
}

.sub41_locaLine{
	border-bottom:1px solid #ccc;
	width:85%;
	margin:0 auto;
}

.sub41_locaMap{
	border-bottom: 3px solid #e5e5e5;
    padding-bottom: 8%;
    margin-bottom: 8%;
}
.sub41_locaMap img{width:100%;}

.sub41_locaList_img{position: relative;}
.sub41_locaList_img .bx-wrapper{}
.sub41_locaList_img .bx-wrapper .bx-viewport .slider2{margin-left:7.7%}
.sub41_locaList_img .bx-wrapper .bx-viewport .slider2 .slide{}
.sub41_locaList_img .bx-wrapper .bx-viewport .slider2 .slide img{width:100%;}

.left_white,.right_white{
	width: 7%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(255, 255, 255, 0.78);
}
.left_white{left: 0;}
.right_white{right: 0;}
























.subMore_btn{
	width: 100%;
    max-width: 786px;
}
.subMore_btn_area{
	padding:0 3%;
	margin-bottom: 60px;
}
.subMore_btn_area a{
	display: block;
    text-decoration: none;
    border: 1px solid #333;
    text-align: center;
    height: 48px;
    vertical-align: middle;
}
.subMore_icon{
	background-image:url(../img/sub/subMoreBtn_icon.png);
	background-repeat:no-repeat;
	background-position:0px 0px;

	width: 26px;
    height: 27px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    margin-right: 10px;
}
.subMore_info{
	display: inline-block;
    font-size: 17px;
    vertical-align: middle;
    margin-top: 14px;
}

.subMore_btn a:hover .subMore_icon{
	background-position:0px -28px;
}

.subMore_btn a:hover{
	background-color:#333;
	color:#fff;
}






@media screen and (max-width: 414px) { /* 아이폰6+ 해상도 */
	/* sub1_1 코리아투어카드 혜택 */
	.sub11_title1{font-size:22px;}

	.sub11_img2{
		width: 68%;
		margin: 0 auto;
	}
	.sub11_img2 img{width:100%;}

	.sub11_title2{font-size:22px;}





	/* sub1_2 코리아투어카드 정보 */
	.sub1_2area h3{font-size:22px;}





	/* sub2_1 판매점 찾기 */
	.sub21_info{
		background-position: 95% 50px;
		background-size:10%;
	}

	.sub21_active1 {
		background-position: 95% -102px;
	}

	.sub2_1form1 li {
		width: 49.5%;
	}





	/* sub2_2 전체판매점 안내 list */
	.sub22_board_info {
		width: 50%;
	}
	
	.sub22_board_img {
		width: 45%;
	}






	/* sub3_1 브랜드별 보기 list */
	.sub31_List_area li a{
		padding: 20px 10px 40px 10px;
	}

	.sub31_List_area li a .sub31_ListImg{
		padding: 0px;
	}

	/* 3_1 view */
	.sub3_1view_top{
		height:170px !important;
	}
	.sub3_1view_top h2 {
		top: 45%;
	}
	.sub3_1view_top h2 a {
		width: 55%;
	}
	.sub3_1topTxt .logoArea{
		width:70%;
	}
	.sub3_benefit li h3{
		width: 45%;
	}
	.sub3_benefit li h3 img{
		width: 100%;
	}
	.sub3_benefit li p{
		width: 49%;
		margin-top: 5.5%;
	}
	.sub31_guideBtn li a h3 img{width:36%;}

	.guideInfo_info {width: 85%;}
	.guideInfo_icon1,.guideInfo_icon2,.guideInfo_icon3{padding-right:7px;}

	.guideTraffic_icon {
		width: 22%;
	}

	.guideBus_name {
		width: 30%;
		margin-right: 5px;
	}

	.guideBus_info {
		width: 68%;
	}





	/* sub3_2 혜택분류별 보기 */
	.sub32_cont_area_head h3 {
		width: 25%;
	}

	.sub32_cont_area_head p {
		font-size: 18px;
	}






	/* sub4_1 전통체험코스 */
	.sub4_1view_loca{margin: 17% auto 2% auto;}
	.sub41_locaList_img .bx-wrapper {
		max-width: 100% !important;
	}
	.sub41_locaList_img .bx-wrapper .bx-viewport .slider2{margin-left:19.5%;}
	.left_white, .right_white{width:8.1%;}
}




@media screen and (max-width: 375px) { /* 아이폰6 해상도 */
	/* sub2_1 판매점 찾기 */
	.sub21_active1 {
		background-position: 95% -88px;
	}



	/* sub4_1 전통체험코스 */
	.sub41_locaList_img .bx-wrapper .bx-viewport .slider2{margin-left:16.5%;}
	.left_white, .right_white{width:4%;}
}



@media screen and (max-width: 360px) { /* 안드로이드 해상도 */
	/* sub1_1 코리아투어카드 혜택 */
	.sub1_3topTxt{
		font-size: 15px;
	}
	.sub1_3topTxt h4{
		line-height: 22px;
	}




	/* sub2_1 판매점 찾기 */
	.sub21_active1 {
		background-position: 95% -83px;
	}



	/* sub2_2 전체판매점 안내 list */
	.sub22_imgArea {
		padding-top: 10px;
	}



	/* sub4_1 전통체험코스 */
	.sub41_locaList_img .bx-wrapper .bx-viewport .slider2{margin-left:15.4%;}
	.left_white, .right_white{width:2%;}


}