/* .latestThumb2Shop { width:100%; margin:0px auto; border:0px solid #dddddd; background-color: #f0f0f0;} */
.latestThumb2Shop { width:100%; margin:0px auto; border:0px solid #dddddd; }

.latestThumb2Shop .title  { float:left; width:160px; height:20px; font-size:10pt; font-weight: bold; color: #666666; vertical-align:middle; padding:3px; }
.latestThumb2Shop .more { float:right; width:40px; height:20px; vertical-align:middle; padding:3px; }

.latestThumb2Shop .title a:link , .latestThumb2Shop .title a:visited { text-decoration:none; }
.latestThumb2Shop .title a:hover { text-decoration:underline; }

/* .latestThumb ul	{ width:100%; margin:0; padding:3px 0 3px 0; list-style:none; background-color: #ffffff; } */
.latestThumb2Shop ul	{ width:100%; margin:0; padding:3px 0 3px 0; list-style:none; }
.latestThumb2Shop li { margin:5px; padding:0; }

.latestThumb2Shop .latestIMG { float:left; margin-right:0; width:140px; height:180px; overflow:hidden; border:0px solid #eeeeee; }
.latestThumb2Shop .latestIMG img { border:1px solid #dddddd; }
.latestThumb2Shop .latestIMG img:hover { border:1px solid #aa0000; } 

.latestThumb2Shop li a:link, .latestThumb2Shop li a:visited { color:#000000;  text-decoration:none; }
.latestThumb2Shop li a:hover { color:#aa0000; text-decoration:underline; }

.latestComment 	{ font-size:8pt; color:#9a9a9a; }

.ca_name { color:#3333ff }
.cost { color:#aa0000 }
