@charset "utf-8";

/* aside:배너 */
.sbn {margin:0 0 5px}
.sbn h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.sbn ul {margin:0;padding:0;border:0;list-style:none}
.sbn li {margin:0 0 1px}
.sbn .sbn_border {border:1px solid #d5d5d5} /* 인덱스 배너도 함께 사용 */

#sbn_idx {position:relative;margin:0 0 30px}
#sbn_idx .sbn_btn {z-index:100;position:absolute;top:50%}
#sbn_idx .sbn_btn button {position:relative;top:-35px;margin:0;padding:0;width:70px;height:70px;border:0;background:transparent;overflow:hidden}
#sbn_idx .sbn_btn span {display:block;width:100%;height:100%;background:url('img/sbn_btn.png')}
#sbn_idx #sbn_btn_p {left:25px}
#sbn_idx .sbn_btn #sbn_btn_prev span {background-position:0 0}
#sbn_idx #sbn_btn_n {right:25px}
#sbn_idx .sbn_btn #sbn_btn_next span {background-position:-70px 0}
#sbn_idx ul {position:relative;overflow:hidden}
#sbn_idx ul li {position:absolute;display:none;top:0;left:0}
#sbn_idx ul li.sbn_first{display:block}